body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: var(--color-white);
}
#pres-accueil {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pres-actualite{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .entete {
  max-width: 100%; /*permet à l'image de suivre les formats*/
  height: auto;
}
.text {
  z-index: 1;
  position: absolute;
  text-align: center;
  color: var(--color-white);
  width: 70%;
  font-size: 160%;
  
}

.imgactu {
  top: 1%;
  background-color: #9ec2f4;
  max-width: 100%; /*permet à l'image de suivre les formats*/
  height: auto;
  z-index: -6;
}
#back{
  background-color: rgba(158, 194, 244, 1);
  padding: 60px;
  color: rgba(51, 102, 157, 1);
}
.description {
  position: relative;
  top: 1%;
  display: flex;
  width: 100%;
}
.description .texte {
  font-size: 18px; /* Ajustez la taille de la police selon vos besoins */
  line-height: 1.2; /* Ajustez l'espacement entre les lignes si nécessaire */
  width: 50%;
  text-align: justify;
  
}
.description h1{
  width: 40%;
}
article{
  padding: 20px;
}

/*#TritreActu{
  z-index: 2;
  position: relative;
  width: 40vh;
  height: 10vh;
  border-radius: 65px;
  background: #33669d;
  left: -10%;
  top: -10%;
  display: flex;
  justify-content: center;
  align-self: center;
}*/

#actu{
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
}
.actualite {
  width: 560px;  /* 70vh */
  height: 264px; /* 33vh */
  flex-shrink: 0;
  border-radius: 65px;
  background: #9ec2f4;
  box-shadow: 5px 5px 10px #a9a8a8;
  margin: 30px;
  position: relative;

  
}

#villes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.ville {
  width: 350px;
  height: 345px;
  flex-shrink: 0;
  border-radius: 65px;
  background: #9ec2f4;
  text-align: center;
  margin: 30px;
  box-shadow: 5px 5px 10px #a9a8a8;
  
}
