body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: var(--color-white);
}
#pres-accueil {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pres-actualite{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .entete {
  max-width: 100%; /*permet à l'image de suivre les formats*/
  height: auto;
}
.text {
  z-index: 1;
  position: absolute;
  text-align: center;
  color: var(--color-white);
  width: 70%;
  font-size: 160%;
  
}

.imgactu {
  top: 1%;
  background-color: #9ec2f4;
  max-width: 100%; /*permet à l'image de suivre les formats*/
  height: auto;
  z-index: -6;
}
#back{
  background-color: rgba(158, 194, 244, 1);
  padding: 60px;
  color: rgba(51, 102, 157, 1);
}
.description {
  position: relative;
  top: 1%;
  display: flex;
  width: 100%;
}
.description .texte {
  font-size: 18px; /* Ajustez la taille de la police selon vos besoins */
  line-height: 1.2; /* Ajustez l'espacement entre les lignes si nécessaire */
  width: 50%;
  text-align: justify;
  
}
.description h1{
  width: 40%;
}
article{
  padding: 50px;
}


/*#TritreActu{
  z-index: 2;
  position: relative;
  width: 40vh;
  height: 10vh;
  border-radius: 65px;
  background: #33669d;
  left: -10%;
  top: -10%;
  display: flex;
  justify-content: center;
  align-self: center;
}*/

#actu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vh;
}
.actualite {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 305px; /* 33vh */
  flex-shrink: 0;
  position: relative;
}
.Box{
  position: relative;
  width: 100%;
  height: 100%;
  padding: auto;
  border-radius: 65px;
  background: #9ec2f4;
  box-shadow: 5px 5px 10px #a9a8a8;
  transition: transform 0.3s;  
}
#preserverBox {
  margin-left: 3%;
  margin-top: -5%;
}
.titleBox {
  position: relative;
  width: 40vh;
  height: 10vh;
  border-radius: 65px;
  background: #33669d;
  margin-left: -10%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
  align-self: center;
  
  padding: 20px;
}
.NatureText {
  position: relative;
  color: white;
  font-size: 100%;
  font-family: "Kaisei Decol", serif;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  
}
#textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  padding: 20px;
}
#terText {
  width: 90%;
  position: relative;
  color: white;
  font-size: 100%;
  font-family: "Kaisei Decol", serif;
  text-align: center;
  vertical-align: center;
  margin: 0 0;
}


#communes{
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.wrapper{
  display: flex;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #9fa8ff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #030032;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carrousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carrousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carrousel.dragging img{
  pointer-events: none;
}
.carrousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  width: calc(100% / 3);
  border-radius: 65px;
  margin: 20px;
  box-shadow: 5px 5px 10px #a9a8a8;
}
.carrousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carrousel img{
    width: calc(100% / 2);
  }
  #actu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vh;
  }
}

@media screen and (max-width: 550px) {
  .carrousel img{
    width: 100%;
  }
}
