/*.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../img/contact_background.jpg");
  background-size: cover;
  opacity: 60%;
  z-index: 0;
}*/

form {
  position: absolute;
  background: rgba(223, 221, 221, 0.3);
  padding: 1rem 1rem;
  width: 70vh;
  top: 40px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.429);
  text-align: center;
  backdrop-filter: blur(7px);
}
.titreFormulaire {
  color: white;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 20px;
}
input,
.message {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 85%;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  margin-bottom: 6px;
  color: white;
  font-weight: bolder;
  box-sizing: border-box;
}
::placeholder {
  color: white;
  font-weight: 100;
}
input:hover,
.message:hover {
  background: rgba(255, 255, 255, 0.2);
}
input:focus {
  border: none;
}
.message {
  height: 120px;
  border-radius: 15px;
  resize: none;
  font-size: 14px;
}
input[type="submit"] {
  color: white;
  margin-top: 10px;
  transition: all 0.5s;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--color-blue0);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.7);
}
.footer {
  position: absolute;
  width: 100%;
  height: 453px;
  background-color: #f4f3f3;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #cecfcf;
}

.div-paris-footer {
  align-items: flex-start;
  position: absolute;
  top: 41px;
  display: inline-flex;
  justify-content: center;
}

.div-paris-footer-2 {
  display: inline-flex;
  max-width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.div-profile-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 36.25px;
  position: relative;
  flex: 0 0 auto;
}

.div-profile {
  position: relative;
  max-width: 260px;
  width: 260px;
  height: 114.16px;
}

.div-title {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 71.4px 0px 71.6px;
  position: absolute;
  top: 0;
  left: 0;
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #071f32;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.div-profile-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 22.9px 0px 23.1px;
  position: absolute;
  top: 35px;
  left: 0;
}

.acc-dez-des-actualit {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #071f32;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 17.3px;
}

.div-profile-items {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 85px;
  left: -4px;
}

.span-paris-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 9.75px 8px 9.95px;
  position: relative;
  flex: 0 0 auto;
}

.span-paris-button {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #354bcf;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 13px;
  white-space: nowrap;
}

.link-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 10.17px 8px 10px;
  position: relative;
  flex: 0 0 auto;
}

.link-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 9.8px 8px 10px;
  position: relative;
  flex: 0 0 auto;
}

.div-social-wrapper {
  padding: 0px 0px 0.79px 1px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #cecfcf;
}

.div-social {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 13.99px;
  position: relative;
  flex: 0 0 auto;
}

.div-social-title {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 86.64px 0px 86.86px;
  position: relative;
  flex: 0 0 auto;
}

.list-4 {
  position: relative;
  width: 152px;
  height: 72.78px;
}
footer {
  position: absolute;
  bottom: 0px;
}
.div-paris-footer-3 {
  gap: 19.99px;
  padding: 0px 0px 9.57px 1px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #cecfcf;
}

.div-title-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 86.66px 0px 86.84px;
  position: relative;
  flex: 0 0 auto;
}

.link-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 71.73px 0px 71.77px;
  position: relative;
  flex: 0 0 auto;
}

.span-paris-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  position: relative;
  flex: 0 0 auto;
}

.link-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 108.02px 0px 108px;
  position: relative;
  flex: 0 0 auto;
}

.span-paris-button-3 {
  justify-content: center;
  padding: 8px 9.64px 8px 9.84px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.div-paris-footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 205px;
  left: 0;
  background-color: #33669d;
}

.div-paris-footer-4 {
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  justify-content: center;
}

.p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 21.9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.div-paris-footer-5 {
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  margin-left: -0.64px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.div-paris-footer-6 {
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.img-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -2px;
  left: 196px;
}

.options {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 20px;
  position: relative;
  flex: 0 0 auto;
}

.s-lectionnez-votre-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 19px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.s-lectionnez-votre {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.overlap-4 {
  position: absolute;
  width: 100%;
  height: 191px;
  top: 262px;
  left: 0;
}

.list-5 {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 0px 0px;
  padding: 6px 618.81px 6px 618.41px;
  position: relative;
  flex: 0 0 auto;
}

.mentions-l-gales-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10.29px 10px 10.49px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 13px;
  white-space: nowrap;
}

.accessibilit-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10.39px 10px 10.58px;
  position: relative;
  flex: 0 0 auto;
}

.presse-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10.27px 10px 10.48px;
  position: relative;
  flex: 0 0 auto;
}

.link-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.frame {
  position: absolute;
  width: 380px;
  height: 24px;
  top: 150px;
  left: 794px;
}

.vector {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4563px;
  left: 3473px;
}

.droits {
  position: absolute;
  top: -1px;
  left: 35px;
  font-family: "Roboto-CondensedRegular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.vector-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.vector-2 {
  position: absolute;
  width: 8px;
  height: 10px;
  top: 5px;
  left: 6px;
}

.pseudo {
  display: inline-flex;
  flex-direction: column;
  height: 206px;
  align-items: center;
  justify-content: center;
  padding: 0px 580px;
  position: absolute;
  top: -252px;
  left: 0;
}

.nef-blackpearl {
  position: relative;
  width: 760px;
  height: 712.5px;
  margin-top: -253.17px;
  margin-bottom: -253.17px;
}

.pseudo-2 {
  left: 563px;
  position: absolute;
  width: 1px;
  height: 35px;
  top: 24px;
  background-color: #071f3266;
}

.pseudo-3 {
  left: 779px;
  position: absolute;
  width: 1px;
  height: 35px;
  top: 24px;
  background-color: #071f3266;
}

.pseudo-4 {
  left: 986px;
  position: absolute;
  width: 1px;
  height: 35px;
  top: 24px;
  background-color: #071f3266;
}

.text-wrapper-10 {
  height: 29px;
  left: 416px;
  font-family: "Kaisei Decol-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 26px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.text {
  height: 15px;
  left: 233px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  top: 26px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-11 {
  position: absolute;
  height: 29px;
  top: 26px;
  left: 594px;
  font-family: "Kaisei Decol-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-12 {
  position: absolute;
  height: 29px;
  top: 26px;
  left: 810px;
  font-family: "Kaisei Decol-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-13 {
  height: 29px;
  left: 1017px;
  font-family: "Kaisei Decol-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 26px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.img-3 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  left: 18px;
}

.text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Kaisei Decol-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 15.5px;
  white-space: nowrap;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #fff;
  height: 50px;
  padding: 1em;
}
.finpage {
  background-color: #071f32;
}
.finpage ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 13px;
  white-space: nowrap;
}
.finpage ul li {
  margin: 0 20px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.div-u-align-center,
.div-u-align-center * {
  box-sizing: border-box;
}
.div-u-align-center {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.div-u-container-layout {
  border-radius: 20px;
  padding: 38.3px 30px 38.31px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  max-width: 256px;
  position: relative;
}
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 22px 22px;
  position: absolute;
  left: 0;
}
.pseudo {
  background: #000000;
  border-radius: 20px;
  opacity: 0.699999988079071;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 89px;
}

.span-u-icon-margin {
  padding: 0px 72.5px 0px 72.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 196px;
  height: 51px;
  position: relative;
}

.svg {
  flex-shrink: 0;
  width: 51px;
  height: 51px;
  position: relative;
  overflow: hidden;
}

.heading-5-margin {
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.heading-5 {
  padding: 0px 20.4px 0px 20.6px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.notre-bureau-principal {
  color: #ffffff;
  text-align: center;
  font:
    700 20px/24px "Raleway",
    sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-u-text-margin {
  padding: 18px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.p-u-text {
  padding: 0px 12.27px 0.19px 12.73px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.so-ho-94-rue-broadway-new-york-ny-1001 {
  color: #ffffff;
  text-align: center;
  font:
    400 16px/25.6px "Open Sans",
    sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
