* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;

}

body {
  overflow-x: hidden;
}


div {
  border: 0px solid red;
}

header {
  background-image: url("../img/elu-header-background.1557135.jpg");
  background-image: linear-gradient(to bottom, color(url("../img/elu-header-background.1557135.jpg")), #ffffff);
  background-size: cover;
  height: 30vh;
}


#description {
  position: relative;
  color: black;
  font-family: Roboto-Bold, Helvetica;
}



#profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
  justify-content: center;
  color: black;
  margin: 40px auto;
  flex-grow: 1;
  text-align: center;
  width: 80%;
  font-family: Roboto-Bold, Helvetica;
}



#profiles .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #116ab133;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  box-shadow: 5px 5px 10px #a9a8a8;
}
#profiles .card:hover{
  transform: scale(1.08);
}

#profiles .card:first-child {
  grid-column: 1 / 4;
  grid-row: 1;
  width: 100%;
}

#profiles .card .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#profiles .card .nom {
  font-weight: 700;
  font-size: 22px;
  transition: color 0.3s;
}
#profiles .card .titre {
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
}

#profiles .card:hover .nom, #profiles .icon a:hover{
  color: #23569C;
}
#profiles .card .icon{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}
#profiles .icon a{
  text-decoration: none;
  color: black;
  margin: 5px;
  transition: color 0.3s;
}