* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;

}

body {
  overflow-x: hidden;
}

header {
  height: 100vh;
}

header .titre {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Kaisei Decol-Bold", serif;
  font-weight: 600;
  font-size: 17vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

header #titre::after {
  position: relative;
  right: 0;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
      color: transparent
  }
  50% {
      color: rgb(255, 255, 255);
  }
}

.vid{
  width: 100%;
  height: 100%;
  z-index: -4;
}

.vid video{
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.9;
}


.explication {
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(210deg, #fae9d9, #5492fd);
  font-family: "Helvetica Neue", "Arial";
  margin-top: 20px;
}


.explication .container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(black, .45);
  border-radius: 30px;
}

.explication .img {
  width: 100%;
  background: url("../img/elu_rass.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px 0 0 30px;
}


.explication span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #2D58C4;
  margin-bottom: 30px;
}

.explication h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
  color: black;
}

.explication p {
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
  color: black;
}

.explication a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2D58C4;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 5px;
  left: -5px;
}


.explication a::before {
  content: '';
  z-index: -1;
 position: absolute;
 top: calc(50%);
 left: 0;
 width: 100%;
 height: 40%;
 pointer-events: none;
 background: #B7CCFF;
 transform: scale3d(0,1,1);
 transform-origin: 0% 50%;
 transition: transform 0.33s;
}

.explication a:hover::before {
  transform: scale3d(1,1,1);
 transform-origin: 0% 50%;
}


@media screen and (min-width: 768px) {
 .explication .container {
   flex-direction: row;
    width: 100%;
 }
  
 .explication .img {
     height: 420px;
     min-width: 360px;
  }
  
  .explication .text-container {
     margin: 0 60px;
     max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  .explication .container {
     max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
}





#profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
  justify-content: center;
  color: var(--color-black);
  margin: 40px auto;
  flex-grow: 1;
  text-align: center;
  width: 80%;
  font-family: Roboto-Bold, Helvetica;

}



#profiles .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #116ab133;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  box-shadow: 5px 5px 10px #a9a8a8;
}

#profiles .card:hover {
  transform: scale(1.08);
}

#profiles .card:first-child {
  grid-column: 1 / 4;
  grid-row: 1;
  width: 100%;
}

#profiles .card .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#profiles .card .nom {
  font-weight: 700;
  font-size: 22px;
  transition: color 0.3s;
}

#profiles .card .titre {
  font-size: 13px;
  color: var(  --color-grey-3);
}

#profiles .card:hover .nom,
#profiles .icon a:hover {
  color: var(--color-blue1);
}

#profiles .card .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}

#profiles .icon a {
  text-decoration: none;
  color: var(--color-black);
  margin: 5px;
  transition: color 0.3s;
}

@media screen and (max-width: 700px) {

  #profiles {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}